@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customer";
}

<h1>CUSTOMERS</h1>

<table style="width: 100%">
    <tr>
        <th>Customer Name</th>
    </tr>


    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Name</td>
        </tr>
    }

</table>





    

