@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customer";
}
<div class="container">
    <h1>CUSTOMERS</h1>

    <table class="table-bordered table-hover" style="width: 100%;">
        <thead>
            <tr>
                <th style="padding-left: 2%;font-size: 2em">Customer Name</th>
            </tr>
        </thead>

        @foreach (var customer in Model)
        {
            <tbody>
                <tr>
                    <td height="50" style="padding-left: 2%;font-size: 1.5em">@customer.Name</td>
                </tr>
            </tbody>
        }

    </table>
</div>





    

